{
  "printWidth": 120,
  "tabWidth": 4,
  "tabs": true,
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "crlf"
}
