.preview.markdown-body {
    height: 100%;
    padding: 12px;
    color: #abb2bf;
    @apply bg-backgroundColor;
}

.preview.markdown-body pre {
    background-color: rgba(27, 31, 35, 0.45);
    color: #dce1eb;
}

thead > tr {
    background-color: #060a10 !important;
}
